<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">


</head>
<body>
	<header th:replace="layout :: header"></header>

	<div class="container">
		<h1 th:text="${title}"
			class="text-primary border border-success border-top-0 border-right-0 border-left-0"></h1>
		<table id="myTable" class="table table-striped">
			<thead>
				<tr class="table-primary">
					<th>id</th>
					<th>Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Create At</th>
					<th>Create Bill</th>
					<th>Put Client</th>
					<th>Delete Client</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-success" th:each="client: ${clients}">
					<td><a class="btn btn-primary btn-xs"
						th:href="@{/view/} + ${client.id}" th:text="${client.id}"></a></td>
					<td th:text="${client.name}"></td>
					<td th:text="${client.lastName}"></td>
					<td th:text="${client.email}"></td>
					<td th:text="${client.createAt}"></td>
					<td><a class="btn btn-success btn-xs"
						th:href="@{'/bill/form/'+ ${client.id}}" >Create Bill</a></td>
					<td><a class="btn btn-primary btn-xs"
						th:href="@{/form/}+ ${client.id}">Put</a></td>
					<td><a class="btn btn-danger btn-xs"
						th:href="@{/delete/}+ ${client.id}"
						onclick="return confirm('are you sure you want to delete?')">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<script>

		</script>
	</div>


<header th:replace="layout :: footer"></header>
	
	

</body>
</html>