<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head">


</head>
<body>
	<header th:replace="layout :: header"></header>

	<div class="container">
		<h1 th:text="${title}"
			class="text-primary border border-success border-top-0 border-right-0 border-left-0"></h1>
		<table id="myTable" class="table table-striped">
			<thead>
				<tr class="table-primary">
					<th sec:authorize="hasRole('ROLE_USER')">id</th>
					<th th:text="#{text.client.name}">Name</th>
					<th th:text="#{text.client.lastName}">Last Name</th>
					<th  th:text="#{text.client.email}">Email</th>
					<th  th:text="#{text.client.createAt}">Create At</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">Create Bill</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">Put Client</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">Delete Client</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-success" th:each="client: ${clients}">
					<td sec:authorize="hasRole('ROLE_USER')"><a
						class="btn btn-primary btn-xs" th:href="@{/view/} + ${client.id}"
						th:text="${client.id}"></a></td>
					<td th:text="${client.name}"></td>
					<td th:text="${client.lastName}"></td>
					<td th:text="${client.email}"></td>
					<td th:text="${client.createAt}"></td>
					
					<td sec:authorize="hasRole('ROLE_ADMIN')"><a
						class="btn btn-success btn-xs" th:href="@{/bill/form/}+ ${client.id}"
						sec:authorize="hasRole('ROLE_ADMIN')">Create Bill</a></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')"><a
						class="btn btn-primary btn-xs" th:href="@{/form/}+ ${client.id}"
						sec:authorize="hasRole('ROLE_ADMIN')">Put</a></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')"><a
						class="btn btn-danger btn-xs" th:href="@{/delete/}+ ${client.id}"
						onclick="return confirm('are you sure you want to delete?')">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<script>

		</script>
	</div>


	<header th:replace="layout :: footer"></header>



</body>
</html>